:root {
    --basic-light-grey: #EEEEEE;
    --basic-white: #ffffff;
    --basic-black: #000000;
    --basic-light-black: #333333;
    --basic-blue: #81B3D2;
    --basic-dark-grey: #888888;
    --basic-grey: #ABABAB;
    --hover-blue: #669EC0;
    --active-blue: #5496BD;
    --special-brown: #766357;
    --hover-brown: #604E43;
    --active-brown: #503E33;
    --special-grey: #6A6A6A;
    --special-light-grey: #f2f2f2;
    --hover-grey-: #EBEBEB;
}

iframe {
    width: 100%;
    height: 588px;
}


/* Global */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: var(--basic-light-grey);
    font-family: 'PT Sans', 'Arial', sans-serif;
    color: var(--basic-black);
    text-transform: uppercase;
    font-size: 14px;
    line-height: 21px;
}

.wrapper {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    margin: 0 auto;
    max-width: 1200px;
    background-color: var(--basic-white);
    box-shadow: 0px -5px 10px -5px var(--basic-light-black);
    position: relative;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: var(--basic-black);
}

.button {
    font: inherit;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    border: none;
}


/* Header */

.main-header {
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    position: relative;
    min-height: 56px;
    padding: 15px 72px;
}

.logo-link {
    position: absolute;
    left: 50%;
    margin-left: -69px;
    top: 0;
}

.list-navigation {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: flex-start;
    text-align: start;
}

.list-navigation li {
    width: 25%;
}

.list-navigation li:nth-child(3),
.list-navigation li:nth-child(4) {
    text-align: end;
}


/*
.list-navigation li:nth-child(4)~li {
    flex-grow: 1;
    margin: 30px 10px 0 10px;
}

.list-navigation li:nth-child(1) {
    margin-right: 134px;
}

.list-navigation li:nth-child(2) {
    margin-right: 418px;
}

.list-navigation li:nth-child(3) {
    margin-right: 147px;
} */

.list-navigation li:hover {
    color: var(--basic-blue);
}

.list-navigation li:active {
    color: var(--special-light-grey);
}

.list-navigation .is-active {
    color: var(--special-brown);
}


/*Section Heading*/

.heading-site {
    margin-bottom: 51px;
}

.title-slogan {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 21px;
}

.title-picture {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--basic-white);
    background-color: var(--basic-grey);
    background-image: url("../img/background_photo.jpg");
    background-repeat: no-repeat;
    min-height: 509px;
}

.title-picture::after {
    content: "";
    display: block;
    background-image: url("../img/background_mask.png");
    background-repeat: no-repeat;
    width: 1200px;
    height: 57px;
}

.heading-site div {
    margin-bottom: 42px;
}

.heading-site h3 {
    margin-bottom: 45px;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
}

.heading-site p {
    font-size: 14px;
    line-height: 26px;
    color: var(--basic-light-black);
    text-align: center;
}


/*Section information*/

.list-location {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: stretch;
    list-style: none;
}

.first,
.second {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: var(--basic-blue);
    color: var(--basic-white);
    text-align: center;
}

.wrapper-for-title {
    flex-shrink: 0;
    width: 400px;
    padding: 50px 49px;
}

.first img,
.second img {
    flex-grow: 2;
}

.last {
    flex-grow: 0;
    width: 33.33%;
    background-color: var(--basic-light-grey);
    min-height: 256px;
    text-align: center;
    padding-bottom: 54px;
    padding: 50px 49px;
}

.item-location h3 {
    font-size: 21px;
    line-height: 21px;
    margin-bottom: 25px;
}

.item-location span {
    display: block;
    margin-bottom: 25px;
}

.list-advantages {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.list-advantages li {
    width: 400px;
    background-color: var(--basic-white);
    color: var(--basic-light-black);
    font-size: 14px;
    line-height: 21px;
    flex-grow: 1;
    text-align: center;
    min-height: 330px;
    padding: 160px 10px 82px;
    background-repeat: no-repeat;
    background-position: center 64px;
}

.list-advantages h3 {
    color: var(--basic-black);
    font-size: 21px;
    line-height: 21px;
    margin-bottom: 25px;
}

.list-advantages li:nth-child(1) {
    background-image: url(../img/icon_home.svg);
    background-size: 75px 72px;
}

.list-advantages li:nth-child(2) {
    background-image: url(../img/icon_food.svg);
    background-size: 75px 70px;
}

.list-advantages li:nth-child(3) {
    background-image: url(../img/icon_souvenir.svg);
    background-size: 64px 77px;
}

.last p {
    color: var(--basic-light-black);
}


/* Section voucher*/

.voucher-section {
    text-align: center;
    padding-top: 58px;
}

.subtitle {
    margin-bottom: 33px;
    padding: 0 200px;
    font-weight: bold;
    font-size: 30px;
    line-height: 24px;
}

.text {
    padding: 0 100px;
    margin-bottom: 43px;
    font-size: 14px;
    line-height: 24px;
    color: var(--basic-light-black);
}

.wrapper-popup {
    position: relative;
}

.button-popup {
    border: none;
    color: var(--basic-white);
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    background-color: var(--special-brown);
    padding: 30px 139px 30px 139px;
}

.button-popup:hover {
    background-color: var(--hover-brown);
}

.button-popup:focus {
    background-color: var(--active-brown);
    color: var(--special-brown);
}

.popup-element {
    width: 568px;
    position: absolute;
    top: 86px;
    left: 316px;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    text-align: start;
    background-color: var(--basic-white);
    box-shadow: 0 0 10px -5px var(--basic-black);
    padding: 55px;
}

.popup-element input {
    border: none;
    background-color: var(--special-light-grey);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.popup-element input:hover {
    background-color: var(--hover-grey-);
}

.popup-element input:focus {
    background-color: var(--basic-white);
}

.date-arrival input,
.date-departure input {
    flex-shrink: 0;
    width: 346px;
    padding-left: 12px;
}

.date-departure,
.date-arrival {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.date-arrival {
    margin-bottom: 29px;
}

.date-departure {
    margin-bottom: 30px;
}

.number-people {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 56px;
}

.adults,
.childs {
    display: flex;
    align-items: center;
}

.adults label {
    margin-right: 40px;
}

.childs {
    margin-left: 51px;
}

.childs label {
    margin-right: 26px;
}

.number-people input {
    width: 38px;
    text-align: center;
}


/*Button popup*/

.popup-element button[type="submit"] {
    background-color: var(--basic-blue);
    background-repeat: no-repeat;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-white);
    text-align: center;
    padding: 16px 196px;
}

.popup-element button[type="submit"]:hover {
    background-color: var(--hover-blue);
}

.popup-element button[type="submit"]:focus {
    background-color: var(--active-blue);
    color: var(--basic-blue);
}


/*Button calendar*/

.date-departure button,
.date-arrival button {
    position: absolute;
    right: 9px;
    top: 7px;
    background-color: transparent;
    background-image: url(../img/calendar.svg);
    background-repeat: no-repeat;
    width: 21px;
    height: 23px;
}

.date-departure button:hover,
.date-arrival button:hover {
    background-color: transparent;
    background-image: url(../img/calendar_hover.svg);
    background-repeat: no-repeat;
    width: 21px;
    height: 23px;
}

.date-departure button:focus,
.date-arrival button:focus {
    background-color: transparent;
    background-image: url(../img/calendar_focus.svg);
    background-repeat: no-repeat;
    width: 21px;
    height: 23px;
}


/*Buton plus and minus*/

.plus {
    display: inline-block;
    vertical-align: middle;
    background-color: var(--special-light-grey);
    background-image: url(../img/plus.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 38px;
    height: 38px;
}

.plus:hover {
    background-color: var(--hover-grey-);
    background-image: url(../img/plus_hover.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.plus:focus {
    background-color: var(--basic-white);
    background-image: url(../img/plus_focus.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.minus {
    display: inline-block;
    vertical-align: middle;
    background-color: var(--special-light-grey);
    background-image: url(../img/minus.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 38px;
    height: 38px;
}

.minus:hover {
    background-color: var(--hover-grey-);
    background-image: url(../img/minus_hover.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.minus:focus {
    background-color: var(--basic-white);
    background-image: url(../img/minus_focus.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}


/*Hotels site*/


/*Search form*/

.form-block {
    background-color: var(--special-light-grey);
    background-image: url(../img/background_hottels.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 217px;
    width: 100%;
    padding: 25px 73px 25px 112px;
}

.filter {
    display: flex;
}

.infrastructure {
    margin-right: 117px;
}

.filter ul {
    list-style: none;
}

.filter li:not(:last-child) {
    margin-bottom: 25px;
}

.filter fieldset {
    padding: 0;
    border: none;
}

.filter legend {
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: var(--basic-white);
    margin-bottom: 23px;
}

.checkbox-label {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 21px;
    padding-left: 40px;
    color: var(--basic-white);
    width: 137px;
    min-height: 23px;
    background-image: url(../img/checkbox_off.svg);
    background-repeat: no-repeat;
    background-size: 27px 23px;
    cursor: pointer;
}

.checkbox-element:checked+.checkbox-label {
    background-image: url(../img/checkbox_on.svg);
    background-position-x: 2px;
}

.checkbox-element:checked:disabled+.checkbox-label {
    background-image: url(../img/checkbox_on_active.svg);
    background-position-x: 2px;
}

.checkbox-element:disabled+.checkbox-label {
    background-image: url(../img/checkbox_off_active.svg);
}

.filter-item {
    margin-left: auto;
    text-align: center;
}

.filter-item legend {
    margin-bottom: 11px;
    text-align: start;
}

.price-controls {
    display: flex;
    align-items: center;
    min-width: 317px;
    height: 36px;
    border: 2px solid var(--basic-white);
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-white);
    text-align: center;
}

.min-price {
    flex-grow: 1;
    border-right: 1px solid var(--basic-white);
}

.max-price {
    flex-grow: 1;
    border-left: 1px solid var(--basic-white);
}

.min-price input,
.max-price input {
    border: none;
    background-color: transparent;
    width: 37px;
    margin-left: 5px;
    color: var(--basic-white);
    font-size: 14px;
    line-height: 21px;
}

.range-filter {
    margin-top: 11px;
    position: relative;
    margin-bottom: 33px;
}

.scale {
    width: 316px;
    height: 2px;
    background-color: var(--basic-grey);
}

.bar {
    width: 78%;
    height: 2px;
    background-color: var(--basic-white);
}

.toggle {
    position: absolute;
    width: 19px;
    height: 19px;
    padding: 0;
    border: 8px solid var(--basic-white);
    background-color: var(--basic-grey);
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 var(--basic-grey);
    top: -8px;
}

.toggle-min {
    left: 0%;
}

.toggle-max {
    left: 78%;
}

.toggle:hover {
    width: 23px;
    height: 23px;
    top: -11px;
    border: 9px solid var(--basic-white);
    box-shadow: 0 4px 1px 0 var(--basic-grey);
    cursor: pointer;
}

.result-button {
    display: inline-block;
    vertical-align: middle;
    padding: 7px 35px 8px 36px;
    background-color: transparent;
    border: 2px solid var(--basic-white);
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-white);
}

.result-button:hover {
    color: var(--basic-black);
    background-color: var(--basic-white);
    cursor: pointer;
}


/* section sorting search*/

.sorting-list {
    display: flex;
    padding: 29px 73px 31px;
    align-items: center;
}

.sorting-list h3 {
    font-size: 21px;
    line-height: 26px;
    margin-right: 46px;
}

.sorting-list p,
.sorting-list a {
    font-size: 12px;
    line-height: 18px;
}

.sorting-list p {
    margin-right: 40px;
}

.sorting-list .active-item {
    color: var(--basic-blue);
    border-bottom: 1px dotted;
}

.sorting-item {
    color: var(--basic-grey);
    margin-right: 33px;
}

.sorting-item:hover {
    color: var(--basic-blue);
    border-bottom: 1px dotted var(--basic-blue)
}

.sorting-item:active {
    color: var(--basic-black);
    border: none;
}

.arrow-up {
    display: inline-block;
    vertical-align: middle;
    width: 11px;
    height: 10px;
    margin-left: auto;
    margin-right: 12px;
    margin-top: 5px;
    background-image: url(../img/icon_dir.svg);
}

.arrow-down {
    display: inline-block;
    vertical-align: middle;
    width: 11px;
    height: 10px;
    margin-top: 5px;
    background-image: url(../img/icon_dir_active.svg);
    transform: rotate(180deg);
}

.arrow-up:hover,
.arrow-down:hover {
    background-image: url(../img/icon_dir_hover.svg);
}

.arrow-up:active,
.arrow-down:active {
    background-image: url(../img/icon_dir_active.svg);
}


/*Search box*/

.list-search {
    list-style: none;
}

.list-search li:first-child {
    border-top: 1px solid var(--special-light-grey);
}

.list-search li {
    border-bottom: 1px solid var(--special-light-grey);
}

.item-search {
    display: grid;
    grid-template-columns: 135px 1fr min-content;
    padding: 23px 70px 29px 73px;
    grid-gap: 29px;
}

.item-search img {
    margin-top: 6px;
}

.name-hous {
    margin-bottom: 7px;
}

.name-hous a {
    font-size: 21px;
    line-height: 26px;
}

.name-hous a:hover {
    color: var(--basic-blue);
}

.name-hous a:active {
    color: var(--basic-grey);
}

.item-search p {
    display: inline-block;
    vertical-align: middle;
    color: var(--basic-light-black);
    min-width: 110px;
    margin-right: 2px;
}

.button-link {
    margin-top: 15px;
}

.list-search div:last-child {
    padding-right: 1px;
    padding-top: 2px;
}

.star {
    text-align: end;
    margin-bottom: 47px;
}

.star span {
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
    background: url(../img/star.svg) repeat-x;
    width: 19px;
    height: 17px;
}

.rating-paragraph {
    color: var(--basic-light-black);
    background-color: var(--special-light-grey);
}

.details {
    background-color: var(--basic-blue);
    color: var(--basic-white);
    display: inline-block;
    vertical-align: middle;
    padding: 3px 16px 3px 17px;
    margin-right: 2px;
}

.details:hover {
    background-color: var(--hover-blue);
}

.details:focus {
    background-color: var(--active-blue);
    color: var(--basic-blue);
}

.reservation {
    background-color: var(--special-brown);
    color: var(--basic-white);
    display: inline-block;
    vertical-align: middle;
    padding: 3px 17px 3px 16px;
}

.reservation:hover {
    background-color: var(--hover-brown);
}

.reservation:focus {
    background-color: var(--active-brown);
    color: var(--special-brown)
}

.rating-paragraph {
    display: inline-block;
    color: var(--basic-light-black);
    background-color: var(--special-light-grey);
    padding: 3px 12px 3px 15px;
}


/*Footer*/

.footer-contacts {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: var(--basic-white);
    width: 100%;
    min-height: 120px;
    padding: 16px 138px 34px 125px;
}

.on-top {
    position: absolute;
    left: 0px;
    bottom: 0px;
    opacity: 0.9;
}

.phone-conteiner {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
}

.phone-conteiner p:first-child {
    margin-bottom: 10px;
}

.list-social {
    display: flex;
    list-style: none;
    margin-bottom: 2px;
}

.link-html {
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 8px;
}

.link-html span {
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 5px;
}


/*Social link*/

.twitter,
.facebook {
    margin-right: 6px;
}

.youtube {
    margin-right: 12px;
}

.item-social a {
    display: inline-block;
    vertical-align: top;
    background-color: var(--basic-blue);
    width: 46px;
    height: 48px;
    position: relative;
}

.twitter a::after {
    background-image: url(../img/twitter.svg);
    content: "";
    position: absolute;
    left: 15px;
    top: 16px;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    width: 17px;
    height: 17px;
}

.facebook a::after {
    background-image: url(../img/facebook.svg);
    content: "";
    position: absolute;
    left: 17px;
    top: 13px;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    width: 12px;
    height: 22px;
}

.youtube a::after {
    content: "";
    position: absolute;
    left: 13px;
    top: 16px;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    width: 20px;
    height: 16px;
    background-image: url(../img/youtube.svg);
}

.item-social a:hover {
    background-color: var(--hover-blue);
}

.item-social a:active {
    background-color: var(--active-blue);
}

.item-social a:active::after {
    opacity: 0.1;
}


/*Link for site HTMLacademy*/

.link-html a {
    margin-left: 4px;
    display: inline-block;
    vertical-align: middle;
    background-color: transparent;
    background-image: url(../img/logo_htmlacademy.svg);
    width: 115px;
    height: 41px;
}

.link-html a:hover {
    background-image: url(../img/logo_htmlacademy_hover.svg);
}

.link-html a:active {
    background-image: url(../img/logo_htmlacademy_focus.svg);
}